<app-action-header [url]="'/properties/create'" [action]="'Create New'"></app-action-header>
<div class="main__container">
  <header class="main__title">
    <h2>Listings</h2>
    <small>Aenean lacinia bibendum nulla sed consectetur</small>
  </header>

  <div class="list-group list-group--block">
    <div class="list-group__header text-left">
        87 Total Property Listings
    </div>

    <app-list-item *ngFor="let property of properties" [property]="property"></app-list-item>
  </div>

  <div class="load-more">
    <a href=""><i class="zmdi zmdi-refresh-alt"></i> Load more listings</a>
  </div>
</div>