<div class="list-group-item media">
  <div class="pull-left">
      <img src="https://placeholdit.imgix.net/~text?&w=400&h=266" alt="" class="list-group__img" width="60">
  </div>
  <div class="media-body list-group__text">
      <strong><a href="">Fusce dapibus tellusac cursus vehicula bibendum</a></strong>
      <small>$910,300 . 03 Beds . 02 Baths</small>

      <div class="list-group__label list-group__label--float">
          <span class="mdc-bg-teal-400" data-toggle="tooltip" data-title="Weekly Views">
              <i class="zmdi zmdi-eye"></i> 1865
          </span>
          <span class="mdc-bg-cyan-400" data-toggle="tooltip" data-title="Viewer Interest">
              <i class="zmdi zmdi-thumb-up"></i> Medium
          </span>
      </div>

      <div class="actions list-group__actions list-group__actions--centered">
          <div class="dropdown">
              <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>

              <ul class="dropdown-menu pull-right">
                  <li><a href="">View</a></li>
                  <li><a href="">Edit</a></li>
                  <li><a href="">Close</a></li>
                  <li><a href="">Delete</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>