<div class="action-header-alt">
  <div class="action-header__item action-header__item--search">
      <form>
          <input type="text" placeholder="Search for leads...">
      </form>
  </div>

  <div class="action-header__item action-header__add">
      <a routerLink="{{url}}" class="btn btn-danger btn-sm">{{action}}</a>
  </div>

  <div class="action-header__item action-header__item--sort hidden-xs">
      <span class="action-header__small">Sort by :</span>

      <select class="select2">
          <option>Newest to oldest</option>
          <option>Oldest to newest</option>
          <option>Contacted</option>
          <option>Not Contacted</option>
          <option>Cancelled</option>
      </select>
  </div>
</div>